branches/HandAssembly3.5/Admin/App_WebReferences/ServiceReference2/VideoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetURL1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetURL1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetURL1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetURL1SoapIn">
    <wsdl:part name="parameters" element="tns:GetURL1" />
  </wsdl:message>
  <wsdl:message name="GetURL1SoapOut">
    <wsdl:part name="parameters" element="tns:GetURL1Response" />
  </wsdl:message>
  <wsdl:portType name="VideoServiceSoap">
    <wsdl:operation name="GetURL1">
      <wsdl:input message="tns:GetURL1SoapIn" />
      <wsdl:output message="tns:GetURL1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VideoServiceSoap" type="tns:VideoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetURL1">
      <soap:operation soapAction="http://tempuri.org/GetURL1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VideoServiceSoap12" type="tns:VideoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetURL1">
      <soap12:operation soapAction="http://tempuri.org/GetURL1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VideoService">
    <wsdl:port name="VideoServiceSoap" binding="tns:VideoServiceSoap">
      <soap:address location="http://www.humbervale.com/VideoService.asmx" />
    </wsdl:port>
    <wsdl:port name="VideoServiceSoap12" binding="tns:VideoServiceSoap12">
      <soap12:address location="http://www.humbervale.com/VideoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>