branches/HandAssembly3.5/Admin/App_WebReferences/ServiceReference1/FolderAccee.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLocalPath">
        <s:complexType />
      </s:element>
      <s:element name="GetLocalPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocalPathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLocalPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocalPath" />
  </wsdl:message>
  <wsdl:message name="GetLocalPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocalPathResponse" />
  </wsdl:message>
  <wsdl:portType name="FolderAcceeSoap">
    <wsdl:operation name="GetLocalPath">
      <wsdl:input message="tns:GetLocalPathSoapIn" />
      <wsdl:output message="tns:GetLocalPathSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FolderAcceeSoap" type="tns:FolderAcceeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocalPath">
      <soap:operation soapAction="http://tempuri.org/GetLocalPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FolderAcceeSoap12" type="tns:FolderAcceeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocalPath">
      <soap12:operation soapAction="http://tempuri.org/GetLocalPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FolderAccee">
    <wsdl:port name="FolderAcceeSoap" binding="tns:FolderAcceeSoap">
      <soap:address location="http://localhost:8080/FolderAccee.asmx" />
    </wsdl:port>
    <wsdl:port name="FolderAcceeSoap12" binding="tns:FolderAcceeSoap12">
      <soap12:address location="http://localhost:8080/FolderAccee.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>